{% extends 'base.html' %}
{% block content %}
<h1>Adding judgment</h1>
<br>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p>{{msg}}</p>
{% endfor %}
{% endif %}
{% endwith %}
<form action="" method="POST">
    {{ form.csrf_token() }}


    <div class="form-group">

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="title">Title</label>
                <input type="title" class="form-control" id="title" name="title" placeholder="Title">
            </div>
        </div>
        <div class="form-group purple-border">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" name="content" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="Judgment date">Date:</label>

            <input type="datetime-local" id="Judgment date" name="meeting-time">

            <button type="submit" class="btn btn-primary">Add judgment</button>
        </div>
    </div>
</form>

{% endblock content %}