{% extends 'base.html' %}
{% block content %}
<h1>My daily responsibilities</h1>
<br>
<table class="table table-striped">
    <tr>
        <th>Client</th>
        <th>Judgment title</th>
        <th>Judgment date</th>
        <th>id client</th>


    </tr>
    {% for judgment in judgments %}
    <tr>
        {% for client in clients_list %}
        <td>{{client.first_name}} {{client.last_name}}</td>
        <td>{{judgment.title}}</td>
        <td>{{judgment.date}}</td>
        <td>{{judgment.client_id}}</td>
    </tr>

    {%endfor%}
    {%endfor%}
</table>

<br>
<br>
{% for client in clients_list %}
<p>{{client.first_name}} {{client.last_name}}</p>
{%endfor%}
{% endblock content %}