{% extends 'base.html' %}
{% block content %}
<h1>My daily responsibilities</h1>
<br>
<a href="{{url_for('client.responsibilities_next_day')}}">For the next 7 days</a>
<br>
<br>
<a href="{{url_for('client.responsibilities')}}">Reset on today</a>
<br>

<table class="table table-striped">
    <tr>
        <th>Client</th>
        <th>Judgment title</th>
        <th>Judgment date</th>
        <th>Judgment time</th>


    </tr>
    {% for judgment in judgments %}
    <tr>
        {% for clients in clients_list[judgment.id] %}

        <td>{{clients.first_name}} {{clients.last_name}}</td>
        <td>{{judgment.title}}</td>
        <td>{{judgment.date_of_judgment.strftime("%b %d")}}</td>
        <td>{{judgment.date_of_judgment.strftime("%H : %M")}}</td>

        {%endfor%}
    </tr>
    {%endfor%}
</table>

{% endblock content %}